.blob {
    background: $color-primary-700;
    width: 300px;
    height: 170px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    animation: morph 30s linear infinite;
    position: relative;

    @media (min-width: $tablette) {
        margin-top: -5rem;
        grid-area: blob;
    }

    &__img {
        height: 13.6rem;
        width: 18.9rem;
        position: absolute;
        border-radius: 62px 39px 59px 59px;
        right: 0;
        bottom: 0;
        margin-bottom: -8rem;
        margin-right: -2rem;
        object-fit: cover;
    }

    .button {
        position: absolute;
        top: 1rem;
        right: 2rem;
        margin-right: -6rem;
        margin-top: -.5rem;
    }

    &__text {
        color: $white;
        font-size: $fs-large-content;
        font-weight: 500;
        line-height: 1.5;
        position: absolute;
        top: 5.5rem;
        left: 1.8rem;
        max-width: 40rem;
        max-height: 5rem;
        overflow: hidden;
    }

    &--little {
        @media (min-width: $tablette) {
            grid-area: blob-little;
            margin-top: -5rem;
        }
        width: 212px;
        height: 134px;

        .button {
            bottom: 0;
            top: unset;
            right: 3rem;
            margin-right: -9rem;
            margin-bottom: -1rem;
            @media (min-width: $desktop) {
                margin-right: -7rem;
            }
        }

        .blob__text {
            top: 3.8rem;
            left: 2.2rem;
            max-width: 19rem;
            max-height: 5rem;
        }
    }

    &--large {
        width: 316px;
        height: 265px;

        @media (min-width: $tablette) {
            grid-area: blob-large;
            margin-top: 2rem;
        }

        .button {
            bottom: 3rem;
            top: unset;
            right: 3rem;
            margin-right: 0;
            margin-top: 0;
        }

        .blob__img {
            width: 17.6rem;
            height: 12.4rem;
            margin-top: -5rem;
            margin-right: -2rem;
            right: 0;
            top: 0;
        }
        .blob__text {
            top: 8rem;
            left: 4rem;
            max-width: 25rem;
            max-height: 13rem;
        }
    }
}

@keyframes morph {
    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}