.button {
    line-height: normal;
    display: inline-flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    border: 1px solid transparent;
    font-family: $font-family-content;
    border-radius: 8px;
    color: $white !important;
    background-color: $color-primary-700;
    padding: 1rem 1.5rem;
    transition: 0.3s ease-in-out;
    font-size: $fs-large-content;
    font-weight: bold;

    &:hover {
        background-color: $color-primary-100;
        color: $color-primary-700 !important;
        border-color: $color-primary-700;
        img,
        svg {
            stroke: $color-primary-700;
        }
    }

    &--secondary {
        background-color: $color-primary-100;
        color: $color-primary-700 !important;
        border-color: $color-primary-700;
        &:hover {
            background-color: $color-primary-700;
            color: $color-primary-100 !important;
            border-color: $color-primary-700;
        }
    }

    &--large {
        padding: 1.4rem;
    }

    &--arround {
        border-radius: 25px;
    }

    &--fullwidth {
        width: 100%;
        padding: .5rem 0;
        font-size: $fs-content;
        font-weight: bold;
        gap: .5rem;
    }

    img,
    svg {
        stroke: $white;
        height: 15px !important;
        width: auto !important;
        transition: 0.3s ease-in-out;
    }
}