.card {
    width: clamp(20rem, 75vw, 35rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    box-shadow: $shadow;
    background-color: $white;
    border-radius: 16px;
    padding: 16px;

    &__thumbnail{
        border-radius: 8px;
        width: 100%;
        height: auto;
    }

    &__title {
        font-size: $fs-heading-tree;
        font-family: $font-family-sub-headings;
        font-weight: bold;
        color: $color-primary-900;
    }

    &__subtitle{
        font-size: $fs-additional;
        font-weight: bold;
    }

    &__text{
        color: $color-primary-700;
        flex-grow: 1;
        padding: 0 1.6rem;
    }

    &--service{
        .card__thumbnail{
            order: -1;
        }
    }
}
