.faq {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        @media (min-width: $desktop) {
            gap: 5rem;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__img {
        width: clamp(20rem, 75vw, 50rem);
        height: auto;
        object-fit: cover;
        align-self: center;
        @media (min-width:$desktop) {
            width: clamp(20rem, 75vw, 60rem);
        }
    }
    &__list {
        width: 100%;
        @media (min-width: $desktop) {
            width: 50rem;
        }
    }
    &__item {
        @include flex($direction: column, $gap: 1rem);

        &[open] summary::before {
            content: url("../img/picto/moins_accordeon.svg");
        }
    }
    &__question {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        border-bottom: solid 2px $color-secondary-900;
        font-family: $font-family-sub-headings;
        font-size: $fs-heading-tree;
        font-weight: bold;
        color: $color-secondary-900;
        user-select: none;
        cursor: pointer;
        &::before {
            content: url("../img/picto/plus_accordeon.svg");
            display: inline-block;
            margin-right: 3.2rem;
            margin-left: 1.6rem;
        }
    }
    &__reponse {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: 1.6rem;
    }
    //cacher le triangle par défaut sur tout les navigateurs
    summary::-webkit-details-marker {
        display: none;
    }
    summary::-webkit-details-marker {
        display: none;
    }

    summary {
        list-style-type: none;
    }

    summary::-moz-list-marker {
        display: none;
    }
    summary::-ms-expand {
        display: none;
    }
    // petite animation au clique sur une question
    details[open] summary ~ * {
        animation: sweep 0.5s ease-in-out;
    }

    @keyframes sweep {
        0% {
            opacity: 0;
            transform: translateX(-10px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
