.filter {
    width: 33rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    grid-area: filter;
    padding: 0 1.5rem;
    @media (min-width: $tablette) {
        height: 480px;
        border-radius: 2.4rem;
        box-shadow: $shadow;
        gap: unset;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 1.5rem;
        border-radius: 2.4rem;
        box-shadow: $shadow;
        width: calc(100% - 2 * 1.5rem);

        h2 {
            font-weight: bold;
            font-family: $font-family-sub-headings;
            font-size: $fs-heading-two;
        }
        @media (min-width: $tablette) {
            justify-content: center;
            box-shadow: unset;
            border-radius: unset;
        }
    }

    &__button {
        background: none;
        border: none;
        transition: .5s;

        svg {
            height: 30px;
            width: auto;
        }

        @media (min-width: $tablette) {
            display: none;
        }
    }

    &__body {
        width: calc(100% - 2 * 1.5rem);
        padding: 3rem 1.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 2.4rem;
        box-shadow: $shadow;
        user-select: none;
        gap: 2rem;
        display: none;

        h3 {
            font-size: $fs-heading-tree;
            font-family: $font-family-sub-headings;
        }

        @media (min-width: $tablette) {
            border-radius: unset;
            box-shadow: unset;
            padding-top: 0rem;
            display: flex !important;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        gap: 5px;
        width: 100%;
        flex-wrap: wrap;

        input {
            display: none;
        }
        input:checked + label {
            border: 3px solid $color-primary-700;
            color: $color-primary-700;
            background-color: $color-primary-100;
        }

        label {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 3px solid transparent;
            border-radius: 8px;
            color: $white;
            background-color: $color-primary-700;
            padding: 0.5rem;
            font-size: $fs-content;
        }
    }
    &__submit {
        font-weight: normal;
        padding: 1rem 1.5rem;
    }
}
