.gutenberg-content {
    text-align: justify;
    color: $color-primary;
    padding: 2.5rem 5rem;

    margin : 0 auto;

    .single-visites & {
        margin-top: 5rem;
    }

    .aligncenter {
        margin: 0 auto;
    }

    .alignright {
        margin-left: auto;
    }

    .wp-block-group__inner-container {
        padding: 1.2rem 2.4rem;
    }

    .wp-block-media-text__content {
        padding: 8% 0;

        @media (min-width:601px) {
            padding: 8%;
        }
    }

    .wp-block-gallery.has-nested-images {
        figure.wp-block-image {
            flex-grow: 0;
            flex-direction: column-reverse;

            figcaption {
                background: none;
                position: static;
                padding-bottom: 1rem;
                text-align: center;
                color: $color-primary;
                font-family: $font-family-sub-headings;
                font-size: $fs-heading-tree;
                font-weight: 400;
            }
        }
    }

    p {
        line-height: 1.6;
        font-size: 1.6rem;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &+*:not(.footer) {
        margin-top: 4.8rem;

        @media (min-width: $tablette) {
            margin-top: 8.2rem;
        }

    }

    &>*:not(.alignfull) {
        max-width: min(100vw - 15rem, 192rem);
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    .alignfull {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .aligncenter {
        justify-content: center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 2rem;
    }

    h1,
    h2,
    h3 {
        font-family: $font-family-sub-headings;
    }

    h4,
    h5,
    h6 {
        font-family: $font-family-content;
        font-weight: 700;
    }

    a {
        color: $color-primary;
        text-decoration: underline;
        position: relative;
        transition: .5s;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 1px;
            background-color: $color-primary;
            transform-origin: left;
        }

        &:hover {
            text-decoration: none;
            color: $color-primary-900;
        }

    }


    .wp-block-group {
        &[class*="-background-color"] {
            padding: 5rem;
        }
    }

    h1 {
        font-size: var(--fs-5xl);
        font-weight: 600;

    }

    h2 {
        font-size: $fs-heading-two;
        font-weight: 400;
    }

    h3 {
        font-size: 3.5rem;
        font-weight: 400;
    }

    h4 {
        font-size: $fs-heading-tree;
    }

    h5 {
        font-size: $fs-large-content;
    }

    h6 {
        font-size: $fs-content;
    }

    .wp-block-column {
        padding: 0 2rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
        }
    }

    .wp-block-columns {
        margin-bottom: 2rem;
        gap: 1em;

        @media (min-width: $tablette) {
            gap: 5.2rem;
            flex-wrap: nowrap !important;
        }
    }

    ul:not(.blocks-gallery-grid)>li {
        position: relative;
        list-style: disc;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }

    ol {
        counter-reset: ol;

        &>li {
            display: flex;
            counter-increment: ol;
            position: relative;
            gap: 0.5em;

            &:not(:last-child) {
                margin-bottom: 0.5em;
            }

            &::before {
                width: fit-content;
                content: counter(ol) '.\00A0';
                left: 0;
                font-weight: 700;
                color: $color-primary;
            }
        }
    }

    blockquote {
        padding: 3.2rem;
        border-radius: 2rem;
        position: relative;
        background-color: $color-primary-300;
        background-image: url('../img/quotes.svg');
        background-repeat: no-repeat;
        background-position: right 0 top -1rem;

        cite {
            display: block;
            text-align: right;
            font-style: italic;
        }
    }

    .rounded {
        padding: 3.2rem;
        border-radius: 2rem;
    }

    .wp-block-buttons {
        &.is-layout-flex {
            display: flex;
            gap: 1em;

            .wp-block-button {
                margin-bottom: 0 !important;
            }
        }
    }

    .wp-block-button {
        a {
            border: 1px solid $color-primary;
            display: flex;
            padding: 1.2rem 2.4rem;
            background-color: $color-primary;
            color: $white;
            font-family: $font-family-sub-headings;
            font-size: $fs-content;
            text-decoration: none;
            border-radius: 5px;
            font-size: $fs-heading-tree;

            &:hover {
                background-color: white;
                color: $color-primary-900 !important;
            }

            &::after {
                display: none;
            }
        }

        &.is-style-outline a {
            background-color: white;
            color: $color-primary;

            &:hover {
                background-color: $color-primary;
                color: $white;
            }
        }
    }

    .wp-block-file__button {
        border: 1px solid $color-primary;
        display: flex;
        padding: 1.2rem 2.4rem;
        border-radius: 2rem;
        background-color: $color-primary;
        transition: var(--transition);
        color: var(--clr-white);
        font-family: $font-family-sub-headings;
        font-weight: bold;
        text-transform: uppercase;

        border-radius: 2rem;

        &:hover {
            background-color: white;
            color: $color-primary;
        }

        &::after {
            display: none;
        }

        &.is-style-outline {
            background-color: white;
            color: $color-primary;

            &:hover {
                background-color: $color-primary;
                color: white;
            }
        }
    }

    .txt-center {
        text-align: center;

        p,
        a {
            text-align: center;
        }
    }

    .bloc-photo-video {
        p{
            font-weight: normal !important;
        }
        a {
            border: none;
            padding: 1.2rem 2.4rem;
            background-color: transparent;
            color: $white;

            &:hover {
                background-color: $color-primary;
                color: $white !important;
            }
        }
    }
}