.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    width: clamp(200px, 100vw, 75.6rem);
    display: none;

    @media (min-width: $tablette) {
        border-radius: 2rem;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #ffffff50;
        backdrop-filter: blur(0.5rem);
        z-index: 100;
        display: none;
    }

    &__container {
        padding: 3.5rem 3rem;
        @include flex(column, stretch, flex-start, no-wrap, 3rem);
    }

    &__header {
        font-size: $fs-heading-two;
    }

    &__body {
        font-size: $fs-content;
    }

    &__footer {
        height: 3rem;
        font-size: $fs-additional;
        @include flex(row, center, space-around, wrap);

        figure{
            @include flex(row, center, $gap:1rem);
            img{
                height: 25px;
                width: auto;
            }
        }
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        cursor: pointer;
    }

}