.p-alert {
    h2{
        display: none;
    }

    background-color: $color-secondary-100;
    padding: 1.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    transition: 1s;

    @media (min-width:$tablette){
        flex-direction: row;
        gap: 2rem;
    }

    button {
        background: none;
        border: none;

        img {
            height: 25px;
            width: auto;
        }
    }

    &__title {
        font-family: $font-family-sub-headings;
        font-size: $fs-heading-two;
    }

    &__list {
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;

        @media (min-width:$tablette){
            display: flex;
         }

        button {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: $fs-large-content;
        }
    }

    &__content {
        font-size: $fs-content;
        padding: 0 1.5rem;
        figure {
            display: grid;
            grid-template-columns: 6fr 4fr;
            grid-template-areas: "text image";
            align-items: center;
            gap:1rem;
            img {
                height: auto;
                width: 90%;
                grid-area: image;
                margin : 0 auto;
            }
            figcaption {
                grid-area: text;
            }
        }
    }
}
