.search {
    display: flex;
    flex-direction: row;
    background-color: $color-primary-900;
    width: 100%;
    height: 4rem;
    border-radius: 2.2rem;

    &--dark {
        background-color: $color-primary-900;
        color: $color-primary-100;
    }

    &__input {
        background-color: transparent;
        border: none;
        color: $color-primary-100;
        width: 100%;
        padding-left: 2rem;
        // font-size: $fs-search;
        // font-family: $ff-navigation;
        &:focus{
            border: none;
        }

        &::placeholder{
            color: $color-primary-100;
            font-style: italic;
        }
    }

    &__submit{
        background-color: transparent;
        border: none;
        margin: auto 1rem;
        background-image: url(../../img/icons/search.svg);
        stroke :$white;
    }
}
