.homeSwipe {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $black;
    }
}

.animal-swiper {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25rem;
        width: auto;

        img {
            display: block;
            width: auto;
            height: 100%;
            object-fit: cover;
        }

        @media (min-width:$tablette) {
            height: clamp(20rem, 30vh, 35rem);
        }
    }
}
