.footer {
    gap: 5rem;
    background-color: $color-primary-100;
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem 1rem;
    font-family: $font-family-content;
    font-size: 1.4rem;
    color: $color-primary-700;

    @media (min-width: $tablette) {
        display: grid;
        grid-template-areas:
            "head head"
            "coordonnees map"
            "coordonnees map"
            "mention mention";
    }

    @media (min-width: $desktop) {
        display: grid;
        grid-template-areas:
            "head head"
            "coordonnees map"
            "mention mention";
    }

    &__head {
        grid-area: head;

        @media (max-width: $tablette) {
            margin: auto;
        }
    }

    &__coordonnees {
        grid-area: coordonnees;
        margin: auto;
        @media (min-width: $tablette) and (max-width: $desktop) {
            border-right: solid 1px #c0c0c0;
            padding-right: 3rem;
        }
        @media (min-width: $desktop) {
            border-right: solid 1px #c0c0c0;
            margin: 0 0 0 3rem;
        }
    }

    &__map {
        grid-area: map;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: auto;

        h2 {
            font-family: $font-family-content;
            font-size: 1.4rem;
            font-weight: bold;
            color: $color-primary-900;
        }

        img {
            width: 30rem;
        }
    }

    &__mention {
        grid-area: mention;
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        white-space: nowrap;
        ul {
            display: flex;
            gap: 5rem;

            img {
                height: 4.2rem;
            }

            a,
            a:visited,
            a:hover {
                font-family: $font-family-content;
                font-size: 1.6rem;
                font-weight: bold;
                color: $color-primary-700;
            }
        }

        @media (min-width: $tablette) {
            padding-top: 2rem;
        }

        @media (min-width: $tablette) {
            border-top: solid 1px #c0c0c0;
        }

        p {
            font-family: $font-family-content;
            font-size: 1.2rem;
            font-weight: 100;
            color: $black;

            font-style: italic;
        }
    }
}

.coordonees {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        font-family: $font-family-content;
        font-size: 1.8rem;
        font-weight: bold;
        color: $color-primary-900;
    }

    &__datetime {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    &__fb {
        padding: 5px 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: solid 1px $color-primary-900;
        border-radius: 5px;
        width: auto;

        font-family: $font-family-content;
        font-size: 1.4rem;
        font-weight: bold;
        color: $color-primary-700 !important;

        &::after {
            content: url("../../assets/img/icons/fb.svg");
            margin-left: 5px;
        }
    }
}
