nav {
    button {
        background: transparent;
        border: none;
    }

    button,
    a,
    a:visited {
        color: $color-primary-700;
        padding: 0;
        font-size: 2rem;
        font-family: $font-family-content;
        $weight: 700;
        $color: $color-primary-700;
    }

    a:hover {
        color: $black;
        text-decoration: none;
    }
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    // TODO : à retirer z-index (Kévin)
    z-index: 10;

    @media (min-width: $desktop) {
        display: flex;
    }

    &__logo {
        height: 6rem;
        width: auto;
        height: auto;
        max-width: 200px;
        display: block;
    }

    &__toggle {
        @media (min-width: $desktop) {
            display: none;
        }
    }

    &__button {
        display: none;
        white-space: nowrap;

        &::after {
            content: url("../../assets/img/icons/chevron-down.svg");
            padding-left: 5px;
        }

        &:hover {
            color: $black;
        }

        @media (min-width: $desktop) {
            display: flex;
            align-items: center;
        }
    }

    &__head {
        @include flex(row, center, space-between);
        padding: 1rem 2rem;
    }

    &__picto {
        height: 2rem;
    }

    &__links {
        display: flex;
        align-items: center;
        width: 100%;
        @include flex(column, left, $gap: 3rem);
        @media (min-width: $desktop) {
            @include flex(row, center, flex-start, $gap: 3rem);
        }
    }

    &__list {
        height: 75vh;
        @include flex(column, left, space-between);
        padding: 5rem 5rem;

        @media (min-width: $desktop) {
            @include flex(row, center, space-between);
            padding: 0 5rem;
            height: 8rem;
            width: 100%;
        }
    }

    &__close {
        display: none;
    }

    &__favori {
        a {
            color: $black;
        }
    }

    &__facebook {
        a {
            color: $color-facebook;
        }
    }
}

.soutien {
    &__container {
        text-align: center;
        // TODO : Remplacer par le composents
        a,
        a:visited {
            font-size: 1.7rem;
            color: $white;
            background-color: $color-primary-700;
            padding: 1rem 2rem;
            border-radius: 25px;
            white-space: nowrap;
        }
    }
}

.menu-item {
    &:hover {
        transition: 0.5s ease-in-out;
    }
}

.expanded-navigation {
    height: 100vh;
}

.sub-menu {
    background-color: $white;
    ul {
        display: flex;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center;
        gap: 3rem !important;
    }
    @media (min-width: $desktop) {
        display: none;
        position: fixed;
        top: 0;
        width: auto !important;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 3rem;
    }
}

.expanded-sub-navigation {
    display: flex !important;
}

// TODO : A retirer en retirant le container ou adapter le code au container
.menu {
    width: 100%;
    ul {
        @media (min-width: $tablette) {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }
    }
}
