.actualite {
    background-image: url("../img/background/primary_paw.svg"),
        url("../img/background/primary_paw.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left 50% top 2rem, left 50% top 50%;
    background-size: 10rem, auto;

    @media (min-width: $tablette) {
        background-image: url("../img/background/primary_paw.svg"),
            url("../img/background/primary_paw.svg"),
            url("../img/background/primary_paw--top-left.svg"),
            url("../img/background/primary_cat--bottom-left.svg"),
            url("../img/background/primary_cat--top-right.svg");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: left 50% top 2rem, left 5rem top 10%,
            right 5rem bottom 10%, left 5rem bottom 10%, right 5rem top 10%;
        background-size: 10rem, auto, auto, auto, auto;
    }

    @media (min-width: $desktop) {
        background-image: url("../img/background/primary_paw.svg"),
            url("../img/background/primary_paw.svg"),
            url("../img/background/primary_paw--top-left.svg"),
            url("../img/background/primary_paw.svg"),
            url("../img/background/primary_cat--bottom-left.svg"),
            url("../img/background/primary_cat--top-right.svg");
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left 50% top 2rem, left 5rem top 10%,
            right 5rem bottom, bottom 10% left 50%, left 5rem bottom,
            right 5rem top 10%;
        background-size: 10rem, auto, auto, 30rem, auto, auto;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2.5rem;
    gap: 2rem;

    h2 {
        font-family: $font-family-sub-headings;
        font-size: $fs-heading-two;
        color: $color-primary-900;
        text-align: center;
    }

    &__categorie {
        color: $color-secondary-700;
    }

    img{
        width: auto;
        object-fit: cover;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 85rem;
        font-size: $fs-large-content;
    }
}
