.un-animal {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2.5rem 2.5rem;

    @media (min-width: $tablette) {
        padding: 5rem 5rem;
    }

    @media (min-width: $desktop) {
        display: grid;
        grid-template-rows: 6rem auto auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "title title"
            "slider slider"
            "identite description";
    }

    h1 {
        font-family: $font-family-sub-headings;
        font-size: $fs-heading-one;
        text-align: center;
        grid-area: title;
    }

    .animal-swiper {
        user-select: none;
        grid-area: slider;
    }

    .modal {
        &__container {
            display: grid;
            gap: 3rem;

            h2 {
                font-size: $fs-heading-two;
                font-family: $font-family-sub-headings;
                text-align: center;
            }

            @media (min-width: $tablette) {
                grid-template-columns: 1fr 1fr;
            }
        }

        &__col {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            div {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-around;
            }
            figure {
                padding: 1rem 1.5rem;
                display: flex;

                align-items: center;
                gap: 2rem;
                img {
                    height: 4rem;
                    width: auto;
                }

                @media (min-width: $tablette) {
                    justify-content: space-between;
                }
            }
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        grid-area: description;

        h2 {
            font-size: $fs-heading-two;
            font-family: $font-family-sub-headings;
            text-align: center;
        }

        // Liste de btn
        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width: $tablette) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        &__button {
            text-align: center;
            display: inline-block;
            width: 100%;
            padding: 1rem 0;
        }
    }
    .identite {
        grid-area: identite;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (min-width: $desktop) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }

        &__card {
            color: $white;
            padding: 2rem;
            border-radius: 2rem;
            h3 {
                font-family: $font-family-sub-headings;
                font-size: $fs-heading-tree;
                text-align: center;
                display: flex;
                justify-content: center;
                gap: 1rem;
                &::after {
                    content: url("../../assets/img/picto/white-double-paw.svg");
                }
            }

            &:nth-child(1),
            &:nth-child(3) {
                background-color: $color-primary-900; /* Couleur différente pour la deuxième et la troisième carte */
            }

            &:nth-child(2),
            &:nth-child(4) {
                background-color: $color-primary-700; /* Couleur différente pour la deuxième et la troisième carte */
            }

            @media (min-width: $desktop) {
                &:nth-child(1),
                &:nth-child(4) {
                    background-color: $color-primary-900; /* Couleur différente pour la deuxième et la troisième carte */
                }

                &:nth-child(2),
                &:nth-child(3) {
                    background-color: $color-primary-700; /* Couleur différente pour la deuxième et la troisième carte */
                }
            }
        }
    }
}
