.front-page {
    display: flex;
    flex-direction: column;
    h2 {
        font-family: $font-family-sub-headings;
        font-size: $fs-heading-two;
        color: $color-primary-900;
        text-align: center;
    }

    .p-alert {
        order: -1;
    }

    .head {
        order: 0;
        padding: 5rem 2.5rem;
        display: grid;
        justify-items: center;
        gap: 10rem;
        grid-template-columns: 1fr;

        background-image: url("../img/background/secondary_paw--top-left.svg"),
            url("../img/background/secondary_paw--top-right.svg"),
            url("../img/background/secondary_paw--right.svg"),
            url("../img/background/secondary_paw--top-left.svg");
        background-position: left 10% top 7rem, left 50% bottom 40rem,
            right 10% top 30rem, left bottom 10rem;
        background-repeat: no-repeat, no-repeat, no-repeat;

        @media (min-width: $tablette) {
            background-image: url("../img/background/secondary_paw--top-left.svg"),
                url("../img/background/secondary_paw--top-right.svg"),
                url("../img/background/secondary_paw--top-left.svg"),
                url("../img/background/secondary_paw--top-right.svg");
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat,
                no-repeat;
            background-position: left 20% top 10%, right 20% top 5rem,
                left 5% bottom 30rem, right 10% bottom 30rem;
            padding: 5rem;
            padding-bottom: 0;
            gap: 5rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "welcome welcome"
                "blob-large blob-large"
                "blob blob-little";
        }

        @media (min-width: $desktop) {
            background-image: url("../img/background/secondary_paw--top-right.svg"),
                url("../img/background/secondary_paw--top-right.svg"),
                url("../img/background/secondary_paw--top-right.svg"),
                url("../img/background/secondary_paw--top-left.svg"),
                url("../img/background/secondary_paw--top.svg");
            background-position: left top 5rem, right 5rem top 5rem,
                left 25% bottom 5rem, right 15% bottom 10rem, right 50% top 30%;
            align-items: center;
            padding-bottom: 2rem;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "welcome welcome blob-large blob-large"
                "welcome welcome blob blob-little";
        }

        &__welcome {
            @media (min-width: $tablette) {
                grid-area: welcome;
            }

            &--title {
                font-family: $font-family-headings;
                color: $color-primary-700;
                font-size: $fs-heading-one;
                text-align: center;
                line-height: 2;
                margin-bottom: 1.5rem;
            }

            &--subtitle {
                margin-bottom: 2rem;
                line-height: 1.5;
            }

            @media (min-width: $desktop) {
                grid-template-columns: repeat(4, 1fr);
                max-width: 50rem;
            }

            // &--btn{
            // TODO : Réussir a faire changer la couleur
            // @include addIcon('right', 'home');
            // }
        }
    }

    .action, .actualites{
        background-image: url("../img/background/primary_paw.svg"), url("../img/background/primary_paw.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left 50% top 2rem, left 50% top 50%;
        background-size: 10rem, auto;

        @media (min-width: $tablette) {
            background-image: url("../img/background/primary_paw.svg"), url("../img/background/primary_paw.svg"), url("../img/background/primary_paw--top-left.svg"), url("../img/background/primary_cat--bottom-left.svg"), url("../img/background/primary_cat--top-right.svg");
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-position: left 50% top 2rem, left 5rem top 10%, right 5rem bottom 10%, left 5rem bottom 10%, right 5rem top 10%;
            background-size: 10rem, auto, auto, auto, auto;
        }

        @media (min-width: $desktop) {
            background-image: url("../img/background/primary_paw.svg"), url("../img/background/primary_paw.svg"), url("../img/background/primary_paw--top-left.svg"), url("../img/background/primary_paw.svg"), url("../img/background/primary_cat--bottom-left.svg"), url("../img/background/primary_cat--top-right.svg");
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
            background-position: left 50% top 2rem, left 5rem top 10%, right 5rem bottom, bottom 10% left 50%, left 5rem bottom, right 5rem top 10%;
            background-size: 10rem, auto, auto, 30rem, auto, auto;
        }
    }

    .action,
    .actualites,
    .dons {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 2.5rem;
        gap: 5rem;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3.2rem;

            @media (min-width: $tablette) {
                max-width: 130rem;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }

    .faq {
        display: flex;
        gap: 3.2rem;
        flex-direction: column;
        align-items: center;
        padding: 5rem 2.5rem;

        background-image: url("../img/background/secondary_paw--left.svg"), url("../img/background/secondary_dog--top-right.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left 50% top 2rem, left 50% bottom 10%;
        background-size: 10rem, auto;

        @media (min-width: $tablette) {
            background-image: url("../img/background/secondary_paw--left.svg"), url("../img/background/secondary_dog--top-right.svg");
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-position: left 50% top 2rem, right 20% top 60%;
            background-size: 10rem, auto;
        }

        @media (min-width: $desktop) {
            background-image: url("../img/background/secondary_paw--left.svg"), url("../img/background/secondary_dog--top-right.svg");
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
            background-position: left 50% top 2rem, right 25% top 60%;
            background-size: 10rem, auto;
        }
    }

    .dons {
        h3 {
            font-size: $fs-heading-tree;
            font-family: $font-family-sub-headings;
            color: $color-primary-900;
            font-weight: bold;
        }

        ul {
            gap: 6.4rem;
        }
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.2rem;
            width: 30rem;
            color: $color-primary-700;
            img {
                height: 6rem;
                width: 6rem;
            }
        }

        background-image: url("../img/background/secondary_paw--left.svg"), url("../img/background/secondary_dog--top-right.svg"), url("../img/background/secondary_dog--top-left.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left 50% top 2rem, left 50% bottom 10%, left 50% top 20rem,;
        background-size: 10rem, auto, auto;

        @media (min-width: $tablette) {
            background-image: url("../img/background/secondary_paw--left.svg"), url("../img/background/secondary_dog--top-right.svg"), url("../img/background/secondary_dog--top-left.svg");
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-position: left 50% top 2rem, right 20% top 60%, left 20% top 60%;
            background-size: 10rem, auto, auto;
        }

        @media (min-width: $desktop) {
            background-image: url("../img/background/secondary_paw--left.svg"), url("../img/background/secondary_dog--top-right.svg"), url("../img/background/secondary_dog--top-left.svg");
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
            background-position: left 50% top 2rem, right 25% top 60%, left 25% top 60%;
            background-size: 10rem, auto, auto;
        }

    }

    .temoins {
        padding: 5rem 2.5rem;
        background-image: url("../img/background/primary_paw.svg"), url("../img/background/primary_cat--top-right.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left 50% top 2rem, right 50% bottom 20%;
        background-size: 10rem, auto;

        @media (min-width: $tablette) {
            background-image: url("../img/background/primary_paw.svg"), url("../img/background/primary_cat--top-right.svg");
            background-repeat: no-repeat, no-repeat;
            background-position: left 50% top 2rem, right 40% bottom 30%;
            background-size: 10rem, auto;
        }

        figure {
            padding: 0 7.5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            @media (min-width: $tablette) {
                flex-direction: row;
                gap: 5rem;
                padding: 0 10rem;
            }
            img {
                height: 15rem;
                width: 15rem;
                border-radius: 50%;
            }
        }
        h3 {
            font-size: $fs-heading-tree;
            font-family: $font-family-sub-headings;
            color: $color-primary-900;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .homeSwipe {
            user-select: none;
            padding: 5rem 0;
            max-width: 120rem;
            min-height: 10rem;
        }
    }

}
