.nos-animaux {
    padding: 5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;
    &__fav {
        width: 100%;
        height: 100%;
    }

    h1 {
        grid-area: title;
        font-size: $fs-heading-one;
        font-family: $font-family-headings;
        text-align: center;
    }

    .card-animal {
        background-color: $white;
        border-radius: 8px;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        height: 30rem;
        width: 29rem;
        border: 2px solid $color-primary-700;

        &__img {
            height: 13rem;
            border-radius: 5px 5px 0 0;
            transition: 0.5s;

            img {
                height: 100%;
                max-height: 24rem;
                width: 100%;
                object-fit: cover;
            }
        }

        &__head {
            height: 7rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0 1.5rem;

            h3 {
                font-size: $fs-heading-tree;
                font-family: $font-family-sub-headings;
                width: 100%;
            }

            a {
                width: 100%;
            }

            div {
                display: flex;
                gap: 1rem;
                width: 80px;
            }
        }

        &__body {
            height: 11rem;
            transition: 0.5s;
            overflow: hidden;

            li {
                display: flex;
                justify-content: space-between;
                padding: 0 5rem;
                font-family: $font-family-content;
            }
        }

        &:hover {
            .card-animal__img {
                height: 13rem;
                img {
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                    object-fit: cover;
                }
            }

            .card-animal__body {
                height: 11rem;
            }
        }

        @media (min-width: $tablette) {
            &__img {
                height: 28rem;
            }

            &__head {
                height: 7rem;
            }

            &__body {
                height: 0;
            }
        }
    }

    .list-animaux {
        grid-area: animaux;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        max-width: 100rem;
        @media (min-width: $tablette) {
            justify-content: unset;
        }
        
        @media (min-width: $desktop) {
            min-width: 50vw;
        }
    }

    @media (min-width: $tablette) {
        display: grid;
        grid-template-areas:
            "title title"
            "filter animaux";
        grid-template-columns: 33rem auto;
        grid-template-rows: auto;
        align-items: unset;
        justify-content: center;
        column-gap: 12rem;
        row-gap: 2rem;
    }
}
