.single{
    &__header{
        height: 40rem;
        position:relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: $font-family-sub-headings;
            font-size: $fs-heading-one;
            color: $white;
        }

        .opacite{
            top: 0;
            position: absolute;
            height: 100%; width: 100%;
            background: linear-gradient(0deg, rgba(0,0,0,0.4) 67%, rgba(255,255,255,0.95) 90%);
        }
    }
}