*,
*::all,
*::before {
    box-sizing: border-box;
    /* Inclue la bordure et le padding dans la largeur */
}

html {
    font-size: 62.5%; /*1 rem == 10px*/
    font-family: $font-family-content;
}

body {
    font-size: 1.6rem;
    margin-top: 8rem;
    background-color: $white;
    line-height: 1.5;
}

a,
a:hover,
a:visited {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

nav {
    button {
        background: transparent;
        border: none;
    }

    button, a {
        color: $color-primary-900;
        padding: 0;
        font-size: 2rem;
    }
}
