@font-face {
    font-family: "Eazy_chat";
    src: url("../fonts/eazy_chat-webfont.woff2") format("woff2"),
        url("../fonts/eazy_chat-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Solitreo";
    src: url("../fonts/solitreo-regular-webfont.woff2") format("woff2"),
        url("../fonts/solitreo-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}