.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.txtleft {
    text-align: left;
}

.txtright {
    text-align: right;
}

.txtcenter {
    text-align: center;
}

.txtjustify {
    text-align: justify;
}

.bold {
    font-weight: bolder;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.is-hidden,
[hidden] {
    display: none !important;
}

.hide {
    &--mobile {
        @media (max-width: $tablette) {
            display: none !important;
        }
    }

    &--tab {
        @media (min-width: $tablette) {
            display: none !important;
        }
    }

    &--desk {
        @media (min-width: $desktop) {
            display: none !important;
        }
    }
}

.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-error {
    color: $color-error;
}

.color-success {
    color: $color-success;
}

.rounded {
    border-radius: 50%;
}

.visible {
    display: block;
}

.row{
    display: flex;
    gap: 2rem;
}