@mixin flex($direction: row, $align-items: center, $justify: center, $wrap: nowrap, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin translate($x: 0, $y: 0) {
    transform: translate($x, $y);
}