// ------------------------------------------------------------------------
// -- VARIABLES
// ------------------------------------------------------------------------

// -- BREAKPOINTS
// ----------------------------------------------

$tablette: 756px !default;
$desktop: 1024px !default;

// -- Variable CSS
// ----------------------------------------------

:root {
    --fs-heading-one: 3.2rem;
    --fs-heading-two: 2.8rem;
    --fs-heading-tree: 2.2rem;
    --fs-large-content: 1.7rem;
    --fs-content: 1.4rem;
    --fs-additional: 1.3rem;

    @media (min-width:$tablette) {
        --fs-heading-one: 3.6rem;
        --fs-heading-two: 3rem;
        --fs-heading-tree: 2.2rem;
        --fs-large-content: 1.7rem;
        --fs-content: 1.6rem;
        --fs-additional: 1.3rem;
    }
}

// -- TYPOGRAPHY
// ----------------------------------------------

$font-family-headings: "Eazy_chat", "Comic Sans MS", sans-serif !default;
$font-family-sub-headings: "Solitreo", "Comic Sans MS", sans-serif !default;
$font-family-content: "Cabin", "Comic Sans MS", sans-serif !default;

// FONT SIZES
$font-size-base: 1.6rem !default;

$fs-heading-one: var(--fs-heading-one);
$fs-heading-two: var(--fs-heading-two);
$fs-heading-tree: var(--fs-heading-tree);
$fs-large-content: var(--fs-large-content);
$fs-content: var(--fs-content);
$fs-additional: var(--fs-additional);

// LINE HEIGHTS
$line-height: 1.6 !default;

// MARGINS BOTTOM
$margin-bottom-base: 1.5rem !default;
$margin-bottom-headings: $margin-bottom-base * 2 !default;
$margin-bottom-paragraph: $margin-bottom-base !default;

// -- COLORS
// ----------------------------------------------

$white: #FDFDFD !default;
$gray-50: #f7f7f7 !default;
$gray-100: #e5e5e5 !default;
$gray-200: #cccccc !default;
$gray-300: #b3b3b3 !default;
$gray-400: #999999 !default;
$gray-500: #7f7f7f !default;
$gray-600: #5c5c5c !default;
$gray-700: #4d4d4d !default;
$gray-800: #333333 !default;
$gray-900: #1a1a1a !default;
$black: #000000 !default;
$bg-base: $white !default;
$color-base: #383844 !default;
$color-primary-100: #f0f9ff !default;
$color-primary-300: #bae1fd !default;
$color-primary: #5081a5 !default;
$color-primary-700: #035fa1 !default;
$color-primary-900: #082e49 !default;

$color-secondary-100: #fff9f0 !default;
$color-secondary-300: #fde2ba !default;
$color-secondary: #a58350 !default;
$color-secondary-700: #a06103 !default;
$color-secondary-900: #492f08 !default;
$color-success: #43a047 !default;
$color-warning: #ff9f00 !default;
$color-error: #d32f2e !default;
$color-info: #1869aa !default;

$color-facebook: #3e5d8c !default;

$link-color: $color-primary;
$link-color-hover: $color-secondary;

$checkbox-color: $color-primary;


$shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;